<h1>Sessions</h1>
<p>
  These are the web browsers currently logged in.
</p>
<table width="100%" class="tickets">
  <thead>
    <tr>
      <th>Browser</th>
      <th>Most recent activity</th>
      <th width="180">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @ticket_granting_tickets.each do |ticket_granting_ticket| %>
      <tr class="<%= 'highlighted' if current_ticket_granting_ticket?(ticket_granting_ticket) %>">
        <td>
          <span title="<%= ticket_granting_ticket.user_agent %>">
            <%= browser_info(ticket_granting_ticket.user_agent) %>
          </span>
        </td>
        <td>
          <%= distance_of_time_in_words_to_now(ticket_granting_ticket.updated_at) %> ago
        </td>
        <td>
          <% if current_ticket_granting_ticket?(ticket_granting_ticket) %>
            <strong>Current session</strong>
          <% else %>
            <%= link_to 'End session', session_path(ticket_granting_ticket), method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
