<h1>Login</h1>
<%= form_tag(login_path, method: :post) do %>
  <%= hidden_field_tag :lt, @login_ticket.ticket %>
  <%= hidden_field_tag :service, @service unless @service.nil? %>
  <dl>
    <dt><%= label_tag :username %></dt>
    <dd><%= text_field_tag :username %></dd>
    <dt><%= label_tag :password %></dt>
    <dd><%= password_field_tag :password %></dd>
  </dl>
  <%= submit_tag "Login" %>
<% end %>
