<h1>Login</h1>
<%= form_tag(login_path, method: :post, id: 'login-form') do %>
  <%= hidden_field_tag :lt, acquire_login_ticket.ticket %>
  <%= hidden_field_tag :service, params[:service] unless params[:service].nil? %>
  <dl>
    <dt><%= label_tag :username %></dt>
    <dd><%= text_field_tag :username %></dd>
    <dt><%= label_tag :password %></dt>
    <dd><%= password_field_tag :password %></dd>
  </dl>
  <%= submit_tag "Login" %>
<% end %>
