<div class="container">
  <div class="login box">
    <%= render 'messages' %>
    <div class="logo">
       <%= image_tag "logo.png" %>
    </div>

    <div class="form">
      <%= form_tag(login_path, method: :post, id: 'login-form') do %>
        <%= hidden_field_tag :lt, @login_ticket.ticket %>
        <%= hidden_field_tag :service, params[:service] unless params[:service].nil? %>
        <%= label_tag :username, t('login.label_username') %>
        <%= text_field_tag :username, params[:username] %>
        <%= label_tag :password, t('login.label_password') %>
        <%= password_field_tag :password %>
        <%= button_tag t('login.label_button'), :class => 'button' %>
      <% end %>
    </div>
  </div>
  <%= render 'footer' %>
</div>
