<div class="container">
  <div class="second_factor box">
    <%= render 'messages' %>
    <h1><%= t('validate_otp.title') %></h1>

    <div class="form">
      <%= form_tag(validate_otp_path, method: :post, id: 'validate_otp-form') do %>
        <%= hidden_field_tag :tgt, @ticket_granting_ticket || params[:tgt] %>
        <%= hidden_field_tag :service, params[:service] %>
        <%= label_tag :code, t('validate_otp.code') %>
        <%= text_field_tag :otp, nil, maxlength: 6, autofocus: true, autocomplete: 'off' %>
        <%= button_tag t('validate_otp.submit'), :class => 'button' %>
      <% end %>
    </div>
  </div>
  <%= render 'footer' %>
</div>
